.about {
    background-image: url(../../assets/images/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        &-title {
            font-family: $base-font;
            font-weight: 700;
            font-size: 57px;
            line-height: 68px;
            text-transform: uppercase;
            color: $title-color;
            border-bottom: 1px solid $text-color;
            padding-bottom: 30px;
            text-align: center;
        }

        &-text {
            font-size: 23px;
            line-height: 28px;
            text-align: center;
            padding-top: 30px;
        }
    }
}
