.complexes {
    margin-top: 110px;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $base-font;
        font-size: 60px;
        font-weight: 600;
        line-height: 68px;
        color: $main-color;
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    .complex {

        &__info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            &-slider {
                width: 620px;
                height: 620px;
            }

            &-text {
                width: 620px;
                height: 620px;
                background-color: $main-color;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 0 36px;
                border-radius: 0 20px 20px 0;
                

                .info__title {
                    font-family: $base-font;
                    color: $title-color;
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 40px;
                }

                .info__text {
                    font-size: 18px;
                    color: $text-color;
                    font-weight: 400;
                    line-height: 24px;

                    & span {
                        color: $title-color;
                        font-size: 20px;
                    }
                }

                .info__price {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }

        .form {
            margin-top: 45px;
            margin-bottom: 110px;

            &__container {
                display: flex;
                flex-direction: column;
                
                &-title {
                    font-family: $base-font;
                    color: $main-color;
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 40px;
                }

                &-actions {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 45px;
                    gap: 25px;

                    & .item {
                        flex: 1 1 266.66px;
                    }
                }
            }
        }
    }
}