@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

$base-font: 'Work Sans', sans-serif;
$title-font: 'Work Sans', serif;
$title-color: #7F9E56;
$button-color: #527246;
$main-color: #181E1A;
$text-color: #969F9A;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, ul {
    list-style: none;
    text-decoration: none;
    color: $text-color;
}

body {
    font-family: $base-font;
    color: $text-color;
}

.wrapper {
    margin: 0 80px;
}

.main-button {
    width: 400px;
    height: 65px;
    border: none;
    border-radius: 100px;
    background-color: $button-color;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: $base-font;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $title-color;
    }
}

@import 'header';
@import 'about';
@import 'complexes';
@import 'footer';

.header__burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;

        &::before, &::after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
        }
        & span {
            position: absolute;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
        }

        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }

    .header__items {
        display: none;
    }
}