@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, ul {
  list-style: none;
  text-decoration: none;
  color: #969F9A;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #969F9A;
}

.wrapper {
  margin: 0 80px;
}

.form-input {
  width: 405px;
  height: 65px;
  padding: 0 20px;
  align-items: center;
  border: 1px solid #969F9A;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #969F9A;
  font-weight: 400;
  line-height: 24px;
}
.form-input:hover {
  border: 1px solid #181E1A;
}

.main-button {
  width: 400px;
  height: 65px;
  border: none;
  border-radius: 100px;
  background-color: #527246;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.main-button:hover {
  background-color: #7F9E56;
}

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.header__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__items-logo {
  width: 100px;
  height: 65px;
}
.header__items-nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  padding: 10px 0;
}
.header__items .navigations {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.header__items .navigations__action {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}
.header__items .navigations__action::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}
.header__items .navigations__action:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.header__items-contacts {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__items-contacts .contacts__number {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
.header__items-contacts .contacts__number::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}
.header__items-contacts .contacts__number:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.header__items-contacts .contacts__button {
  width: 180px;
  height: 65px;
}

.about {
  background-image: url(../../assets/images/main-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.about__content-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 57px;
  line-height: 68px;
  text-transform: uppercase;
  color: #7F9E56;
  border-bottom: 1px solid #969F9A;
  padding-bottom: 30px;
  text-align: center;
}
.about__content-text {
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  padding-top: 30px;
}

.complexes {
  margin-top: 110px;
}
.complexes__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 68px;
  color: #181E1A;
}
.complexes__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.complexes .complex__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.complexes .complex__info-slider {
  width: 620px;
  height: 620px;
}
.complexes .complex__info-types {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
.complexes .complex__info-types .type__button {
  width: 85px;
  height: 45px;
  background-color: #fff;
  color: #7F9E56;
  border: 1px solid #7F9E56;
}
.complexes .complex__info-types .type__button--active {
  background-color: #527246;
  color: #fff;
  border: none;
}
.complexes .complex__info-text {
  width: 620px;
  height: 620px;
  background-color: #181E1A;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 36px;
  border-radius: 0 20px 20px 0;
}
.complexes .complex__info-text .info__title {
  font-family: "Work Sans", sans-serif;
  color: #7F9E56;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
}
.complexes .complex__info-text .info__text {
  font-size: 16px;
  color: #969F9A;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.176px;
}
.complexes .complex__info-text .info__text span {
  color: #7F9E56;
  font-size: 20px;
}
.complexes .complex__info-text .info__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.complexes .complex .form {
  margin-top: 45px;
  margin-bottom: 110px;
}
.complexes .complex .form__container {
  display: flex;
  flex-direction: column;
}
.complexes .complex .form__container-title {
  font-family: "Work Sans", sans-serif;
  color: #181E1A;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
.complexes .complex .form__container-actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  gap: 25px;
}
.complexes .complex .form__container-actions .item {
  flex: 1 1 266.66px;
}

.footer {
  background-color: #181E1A;
  padding: 35px 0;
}
.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__content-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #969F9A;
}
.footer__content .content__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__content .content__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer__content .content__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.footer__content .content__item-text::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}
.footer__content .content__item-text:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.footer__actions {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__actions-socials {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.footer__actions-socials .social-icon {
  width: 20px;
  height: 20px;
}

.burger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    margin: 0 16px;
  }
  .complexes .complex__info-slider {
    width: 500px;
    height: 500px;
  }
  .complexes .complex__info-text {
    width: 500px;
    height: 500px;
  }
  .complexes .complex__info-text .info__text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    margin: 0 55px;
  }
  .header__items {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger__container {
    margin: 0 55px;
  }
  .burger__menu {
    padding-top: 35px;
    padding-bottom: 200px;
    background-color: #161B18;
    position: fixed;
    transition: transform 0.2s;
    transform: translateX(-100%);
    left: 0;
    right: 0;
    z-index: 99;
  }
  .burger__menu-title {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
  }
  .burger__menu-actions {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .burger__menu-actions .burger-input {
    width: 315px;
    height: 50px;
  }
  .burger__menu-actions .burger-button {
    width: 320px;
    height: 50px;
  }
  .burger__menu-contacts {
    padding-top: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .burger__menu .contacts__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .burger__menu .contacts__container-title {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #969F9A;
  }
  .burger__menu .contacts__container-text {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
  }
  .burger .showMenu {
    transform: translateX(0);
  }
  .burger__items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
  }
  .burger__items .humburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger__items-icon {
    position: fixed;
    left: 0;
    padding-left: 55px;
    cursor: pointer;
  }
  .burger__items .closeIcon {
    display: none;
  }
  .complexes {
    margin-top: 80px;
  }
  .complexes__title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
  }
  .complexes__items {
    margin-top: 50px;
  }
  .complexes .complex__info-slider {
    width: 620px;
    height: 620px;
  }
  .complexes .complex__info-text {
    width: 620px;
    height: 620px;
  }
  .complexes .complex__info-text .info__text {
    font-size: 18px;
    line-height: 24px;
  }
  .complex__info {
    flex-direction: column !important;
    align-items: center;
  }
  .complex__info-text {
    border-radius: 0 0 20px 20px !important;
  }
  .footer__content-items {
    gap: 30px;
  }
  .footer .content__item-logo {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0 24px;
  }
  .complexes {
    margin-top: 40px;
  }
  .complexes__title {
    font-size: 26px;
    line-height: 32px;
  }
  .complexes__items {
    margin-top: 32px;
  }
  .complexes .complex__info-slider {
    height: auto;
  }
  .complexes .complex__info-text {
    height: auto;
    padding: 16px 16px 70px 16px;
  }
  .complexes .complex .form__container {
    margin: 0 16px;
  }
  .complexes .complex .form__container-title {
    text-align: center;
  }
  .footer__content-items {
    flex-direction: column;
  }
  .footer__content-items .footer__logo {
    align-items: center;
  }
  .footer__content-items .footer__logo .content__item-logo {
    width: 200px;
    height: 120px;
  }
  .footer__content-items .footer__logo .content__item-title {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__content-items .footer__logo .content__item-text {
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (max-width: 620px) {
  .wrapper {
    margin: 0 16px;
  }
  .about__content {
    margin: 0 16px;
  }
  .about__content-title {
    font-size: 48px;
    padding-bottom: 24px;
    line-height: 32px;
  }
  .about__content-text {
    font-size: 20px;
    line-height: 28px;
    padding-top: 24px;
  }
  .complex__info-slider {
    max-width: 540px;
    height: auto;
  }
  .complex__info-text {
    max-width: 540px;
    height: auto;
    padding: 16px 16px 70px 16px;
  }
  .complex .form__container {
    margin: 0 16px;
  }
  .complex .form__container-title {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .burger__menu {
    padding-bottom: 0;
    height: 100vh;
  }
  .burger__menu-title {
    text-align: center;
  }
  .burger__menu-actions {
    flex-direction: column;
    padding-top: 32px;
    gap: 32px;
  }
  .burger__menu-contacts {
    padding: 32px;
    flex-direction: column;
    gap: 32px;
  }
  .burger__container {
    margin: 0 16px;
  }
  .burger__items {
    justify-content: space-between;
  }
  .burger__items-icon {
    padding-left: 16px;
  }
  .header__items-logo {
    width: 70px;
    height: 40px;
  }
  .about__content {
    margin: 0 16px;
  }
  .about__content-title {
    font-size: 36px;
    padding-bottom: 24px;
    line-height: 32px;
  }
  .about__content-text {
    font-size: 20px;
    line-height: 28px;
    padding-top: 24px;
  }
  .complexes {
    margin-top: 40px;
  }
  .complexes__title {
    font-size: 26px;
    line-height: 32px;
  }
  .complexes__items {
    margin-top: 32px;
  }
  .complexes .complex__info-slider {
    max-width: 320px;
    height: auto;
  }
  .complexes .complex__info-text {
    max-width: 320px;
    height: auto;
    padding: 16px 16px 70px 16px;
  }
  .complexes .complex .form__container {
    margin: 0 16px;
  }
  .complexes .complex .form__container-title {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }
  .complexes .complex .form__container-actions .form-input {
    width: 290px;
    height: 50px;
  }
  .complexes .complex .form__container-actions .form-button {
    width: 290px;
    height: 50px;
  }
  .footer__content-items {
    flex-direction: column;
    border: none;
  }
  .footer__content-items .footer__logo {
    align-items: center;
  }
  .footer__content-items .footer__logo .content__item-logo {
    width: 200px;
    height: 120px;
  }
  .footer__content-items .footer__logo .content__item-title {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__content-items .footer__logo .content__item-text {
    font-size: 14px;
    line-height: 24px;
  }
  .footer__actions {
    flex-direction: column-reverse;
    gap: 20px;
    padding-top: 0;
  }
  .footer__actions-socials {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */