@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, ul {
  list-style: none;
  text-decoration: none;
  color: #969F9A;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #969F9A;
}

.wrapper {
  margin: 0 80px;
}

.main-button {
  width: 400px;
  height: 65px;
  border: none;
  border-radius: 100px;
  background-color: #527246;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #181E1A;
}
.header__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__item {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  padding: 20px 0;
}
.header__item-nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.header__item-action {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
.header__item-number {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
.header__item-button {
  width: 215px;
}

.about {
  background-image: url(../../assets/images/main-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.about__content-title {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 57px;
  line-height: 68px;
  text-transform: uppercase;
  color: #7F9E56;
  border-bottom: 1px solid #969F9A;
  padding-bottom: 30px;
}
.about__content-text {
  width: 620px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding-top: 30px;
}

.complexes {
  margin-top: 110px;
}
.complexes__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lora", serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 68px;
  color: #181E1A;
}
.complexes__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.complexes .complex__info {
  display: flex;
  flex-direction: row;
}
.complexes .complex__info-slider {
  background-image: url(../../assets/images/beskid-home.png);
  width: 620px;
  height: 620px;
}
.complexes .complex__info-text {
  width: 620px;
  height: 620px;
  background-color: #181E1A;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 36px;
  border-radius: 0 20px 20px 0;
}
.complexes .complex__info-text .info__title {
  font-family: "Lora", serif;
  color: #7F9E56;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
.complexes .complex__info-text .info__text {
  font-size: 18px;
  color: #969F9A;
  font-weight: 400;
  line-height: 24px;
}
.complexes .complex__info-text .info__text span {
  color: #7F9E56;
  font-size: 20px;
}
.complexes .complex__info-text .info__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.complexes .complex .form {
  margin-top: 45px;
  margin-bottom: 110px;
}
.complexes .complex .form__container {
  display: flex;
  flex-direction: column;
}
.complexes .complex .form__container-title {
  font-family: "Lora", serif;
  color: #181E1A;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
.complexes .complex .form__container-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
}
.complexes .complex .form__container-actions .form-input {
  width: 405px;
  height: 65px;
  padding: 0 20px;
  align-items: center;
  border: 1px solid #969F9A;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #969F9A;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  background-color: #181E1A;
  padding: 35px 0;
}
.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__content-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #969F9A;
}
.footer__content .content__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__content .content__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer__content .content__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.footer__content .content__item-logo {
  width: 200px;
  height: 115px;
}
.footer__actions {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__actions-socials {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.footer__actions-socials .social-icon {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */